<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 border-bottom">
    <div class="container">
        <a class="navbar-brand" routerLink="/">o2p</a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
            &#9776;
        </button>
        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="about" (click)="isCollapsed = true">About</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="login" (click)="isCollapsed = true">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>