<div class="container">
    <div class="col-md-12 pb-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <label for="payee" class="col-form-label">Payee</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Nimmo, Stephen</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="payee" class="col-form-label">Quarter</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>2023 Q3</option>
                            <option selected>2023 Q2</option>
                            <option selected>2023 Q1</option>
                            <option selected>2022 Q4</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="payee" class="col-form-label">Plan</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>CY23 NEW SYB with Services</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 pb-3">
        <div class="card">
            <div class="card-header">
                Summary
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Component</th>
                            <th scope="col">Quota</th>
                            <th scope="col">Actuals</th>
                            <th scope="col">Percentage</th>
                            <th scope="col">Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">PRIMARY NEW SERVICES SYB</th>
                            <td>2,749,296.45</td>
                            <td>2,003,079.00</td>
                            <td>79.4%</td>
                            <td>4,662.91</td>
                        </tr>
                        <tr>
                            <th scope="row">PRIMARY NEW SUBSCRIPTIONS SYB</th>
                            <td>2,749,296.45</td>
                            <td>2,003,079.00</td>
                            <td>79.4%</td>
                            <td>4,662.91</td>
                        </tr>
                        <tr>
                            <th scope="row">Totals</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>9,278.11</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Component Detail - PRIMARY NEW SERVICES SYB</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Opportunity</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Actuals</th>
                            <th scope="col">Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">5705038</th>
                            <td>EXXONMOBIL IT</td>
                            <td>33,390.00</td>
                            <td>1,485.26</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>